body {
    background-color: cornflowerblue !important;
}

header {
    background-color: blue;
    background-image: linear-gradient(#4d46ac, #050388);
    user-select: none;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.card {
    border-radius: 12px;
    background-color: white;
}

.card h2 {
    font-weight: bold;
    color: black
}

.form control {
    border-radius: 8px;
}

.btn primary {
    background-color: rgb(2, 155, 2);
    border: none;
}

.btn primary:hover {
    background-color: rgb(1, 100, 1);
}

.btn secondary {
    background-color: rgb(228, 3, 3);
    border: none;
}

.btn secondary:hover {
    background-color: rgb(172, 3, 3);
}





