{{>header}}

    <section>
        <div class="container mt-5 mb-5 padding-20" id="container">
            <h1 class="text-center mb-4 text-primary">Editar canica</h1>
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <div class="card shadow-sm p-4">
                        <form action="/editMarble/{{marble.id}}" method="post" enctype="multipart/form-data">
                            
                            <div class="mb-3">
                                <label for="name" class="form-label fw-bold">Nombre de la canica</label>
                                <input type="text" class="form-control" id="name" name="name" required value="{{marble.name}}">
                            </div>

                            <div class="mb-4">
                                <label for="imageField" class="form-label fw-bold">Actualizar Imagen (Opcional)</label>
                                <input type="file" class="form-control" id="imageField" name="imageField" accept="image/*">
                                <small class="text-muted">Si no seleccionas ningún archivo, se mantendrá la imagen actual.</small>
                            </div>

                            <input type="hidden" name="_csrf" value="{{token}}"/>
                            
                            <div class="d-flex justify-content-between">
                                <a href="javascript:history.back()" class="btn btn-danger">Cancelar</a>
                                <button type="submit" class="btn btn-success">Guardar cambios</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>

{{>footer}}