{{>header}}
    <section class="py-5 bg-under-header " style="flex: 1;">
        <div class="container px-4 px-lg-5 mt-2 ">

            <div class="card mb-4 rounded-3 shadow-lg border-primary">
                <div class="card-header py-3 text-bg-primary border-primary">
                    <h4 class="my-0 fw-normal text-center"><i class="bi bi-gear-fill me-2"></i>Panel de Gestión de
                        Entidades</h4>
                </div>

                <div class="card-body p-4">

                    <div class="section-title text-uppercase">Gestión de Usuarios</div>
                    <div class="row g-3 mb-4">
                        <div class="col-md-6">
                            <button type="button" class="btn btn-primary w-100 admin-btn shadow-sm">
                                <i class="bi bi-plus-circle"></i> Añadir Usuario
                            </button>
                        </div>
                        <div class="col-md-6">
                            <button type="button" class="btn btn-warning w-100 admin-btn shadow-sm">
                                <i class="bi bi-gear"></i> Editar Usuario
                            </button>
                        </div>
                        <div class="col-md-6">
                            <button type="button" class="btn btn-danger w-100 admin-btn shadow-sm">
                                <i class="bi bi-person-x"></i> Borrar Usuario
                            </button>
                        </div>
                    </div>

                    <div class="section-title text-uppercase">Gestión de Ligas</div>
                    <div class="row g-3 mb-4 ">
                        <div class="col-md-6">
                            <button type="button" class="btn btn-primary w-100 admin-btn shadow-sm">
                                <i class="bi bi-plus-circle"></i> Añadir Liga
                            </button>
                        </div>
                        <div class="col-md-6">
                            <button type="button" class="btn btn-warning w-100 admin-btn shadow-sm">
                                <i class="bi bi-gear"></i> Editar Ligas
                            </button>
                        </div>

                        <div class="col-md-6 ">
                            <button type="button" class="btn btn-danger w-100 admin-btn shadow-sm">
                                <i class="bi bi-trash"></i> Borrar Ligas
                            </button>
                        </div>
                    </div>

                    <div class="section-title text-uppercase">Gestión de Canicas</div>
                    <div class="row g-3 mb-2">
                        
                        <div class="col-md-6">
                            <button type="button" class="btn btn-warning w-100 admin-btn shadow-sm">
                                <i class="bi bi-disc"></i> Editar Canicas
                            </button>
                        </div>
                        <div class="col-md-6">
                            <button type="button" class="btn btn-danger w-100 admin-btn shadow-sm">
                                <i class="bi bi-x-circle"></i> Borrar Canicas
                            </button>
                        </div>
                    </div>

                </div>
            </div>

            <!--
            <div class="d-flex align-items-center justify-content-start w-100 mt-4">
                <button type="button" class="btn btn-danger px-4" onclick="history.back()">
                    <i class="bi bi-arrow-left me-2"></i>Volver
                </button>
            </div>
            -->

        </div>
    </section>

    {{>footer}}