{{>header}}
    <div class="container px-4 px-lg-5 my-5">
            <div class="text-center text-black">
                <div class="d-flex align-items-center justify-content-between w-100">
                    <h2 class="fw-bolder">LIGA (NOMBRE)</h2>
                    <h2 class="fw-bolder">RESULTADO: X</h2>
                </div>
            </div>
    </div>
    
    
    <!-- Section-->
     <section class="py-5 bg-bajo-header" style="flex: 1;">
        <div class="container px-4 px-lg-5 ">
            <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                {{#races}}
                <div class="col mb-5">
                    <div class="card h-100">
                        <!-- Product details-->
                        <div class="card-body p-4">
                            <div class="text-center">
                                <!-- Product name-->
                                <h5 class="fw-bolder">Carrera {{-index}}: {{name}}</h5>
                                <!-- show first three results for this race -->
                                <ul class="list-unstyled mt-2 mb-0">
                                    {{#topThreeResults}}
                                        <li>{{name}}</li>
                                    {{/topThreeResults}}
                                </ul>
                            </div>
                            
                        </div>
                        <!-- Product actions-->
                        <div class="card-body d-flex flex-column align-items-center gap-3">
                            <a class="w-40 btn btn-lg btn-secondary" href="/race-view/{{id}}">Ver detalles</a>
                        </div>
                    </div>
                </div>
                {{/races}}
                <div class="col mb-5">
                    <div class="card h-100">
                        <!-- Product image-->
                        <!--<img class="card-img-top" src="/images/anonymous-user.PNG" alt="..."  /> --> 
                        <!-- Product details-->
                        <div class="card-body p-4">
                            <div class="text-center">
                                <!-- Product name-->
                                <h5 class="fw-bolder">Carrera 2</h5>
                                <!-- Product price-->
                                info.
                            </div>
                            
                        </div>
                        <!-- Product actions-->
                        <div class="card-body d-flex flex-column align-items-center gap-3">
                            <button type="button" class="w-40 btn btn-lg btn-secondary" onclick=" "> Ver resultados</button>
                            
                        </div>
                    </div>
                </div>
                <div class="col mb-5">
                    <div class="card h-100">
                        <!-- Product image-->
                        <!--<img class="card-img-top" src="/images/anonymous-user.PNG" alt="..."  /> --> 
                        <!-- Product details-->
                        <div class="card-body p-4">
                            <div class="text-center">
                                <!-- Product name-->
                                <h5 class="fw-bolder">Carrera 3</h5>
                                <!-- Product price-->
                                info.
                            </div>
                            
                        </div>
                        <!-- Product actions-->
                        <div class="card-body d-flex flex-column align-items-center gap-3">
                            <button type="button" class="w-40 btn btn-lg btn-secondary" onclick=" "> Ver resultados</button>
                            
                        </div>
                    </div>
                </div>
                <div class="col mb-5">
                    <div class="card h-100">
                        <!-- Product image-->
                        <!--<img class="card-img-top" src="/images/anonymous-user.PNG" alt="..."  /> --> 
                        <!-- Product details-->
                        <div class="card-body p-4">
                            <div class="text-center">
                                <!-- Product name-->
                                <h5 class="fw-bolder">Carrera 4</h5>
                                <!-- Product price-->
                                info.
                            </div>
                            
                        </div>
                        <!-- Product actions-->
                        <div class="card-body d-flex flex-column align-items-center gap-3">
                            <button type="button" class="w-40 btn btn-lg btn-secondary" onclick=" "> Ver resultados</button>
                            
                        </div>
                    </div>
                </div>
                <div class="col mb-5">
                    <div class="card h-100">
                        <!-- Product image-->
                        <!--<img class="card-img-top" src="/images/anonymous-user.PNG" alt="..."  /> --> 
                        <!-- Product details-->
                        <div class="card-body p-4">
                            <div class="text-center">
                                <!-- Product name-->
                                <h5 class="fw-bolder">Carrera 5</h5>
                                <!-- Product price-->
                                info.
                            </div>
                            
                        </div>
                        <!-- Product actions-->
                        <div class="card-body d-flex flex-column align-items-center gap-3">
                            <button type="button" class="w-40 btn btn-lg btn-secondary" onclick=" "> Ver resultados</button>
                            
                        </div>
                    </div>
                </div>
                <div class="col mb-5">
                    <div class="card h-100">
                        <!-- Product image-->
                        <!--<img class="card-img-top" src="/images/anonymous-user.PNG" alt="..."  /> --> 
                        <!-- Product details-->
                        <div class="card-body p-4">
                            <div class="text-center">
                                <!-- Product name-->
                                <h5 class="fw-bolder">Resultados finales</h5>
                                <!-- Product price-->
                                info.
                            </div>
                            
                        </div>
                        <!-- Product actions-->
                        <div class="card-body d-flex flex-column align-items-center gap-3">
                            <button type="button" class="w-40 btn btn-lg btn-secondary" onclick=" "> Ver resultados finales</button>
                            
                        </div>
                    </div>
                </div>

            </div>

            <div class="d-flex align-items-center justify-content-between w-100">
                <!-- Botón izquierdo -->
                <button type="button" class="btn btn-danger" onclick=" ">Atrás</button>
                <!-- Botón derecho -->
                
            </div>

        </div>
    </section>
    {{>footer}}