{{>header}}
    {{#race}}
    <div class="container px-4 px-lg-5 my-3 text-center">
        <h1 class="fw-bolder">{{name}}</h1>                
    </div>

    <section class="py-3 bg-under-header flex-1">
        
        <div class="text-center">        
            <h5 class="fw-bolder">Ganador: {{winnerName}} </h5>
        </div>

        <div class="py-5 text-center">
            <h5 class="fw-bolder">Posiciones:</h5>
            <ol style="display: inline-block; text-align: left; list-style-position: outside; margin: 0 auto; padding-left: 1.5rem;">
            {{#results}}
                <li>{{name}}</li>
            {{/results}}
            </ol>

            {{^results}}
                <h5 class="fw-bolder">No hay resultados disponibles</h5>
            {{/results}}
        </div>

        <div class="d-flex align-items-center justify-content-between w-100 px-4">
            <button type="button" class="btn btn-danger" onclick="window.history.back()">Atrás</button>
        </div>
                        
    </section>    
    {{/race}}
{{>footer}}