{{>header}}

    <div class="container px-4 px-lg-5 my-3 text-center">
        <h1 class="fw-bolder">{{name}}</h1>                
    </div>

    <section class="py-3 bg-under-header flex-1">
        
        <div class="text-center">
        
            <h5 class="fw-bolder">Ganador: {{winnerName}} </h5>
        </div>

        {{#results}}
        <div class="py-5 text-center">
            <h5 class="fw-bolder">Posición ? : {{name}} </h5>
            <ul>
                <li>{{name}}</li>
            </ul>
            <ol>
                <li>{{name}}</li>
            </ol>
        </div>
        {{/results}}

        <div class="d-flex align-items-center justify-content-between w-100 px-4">
            <a href="/" class="btn btn-primary">Volver</a>
        </div>
                        
    </section>
    

    {{>footer}}